@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[26px];
}

.flip-clock {
  --fcc-flip-duration: 0.5s; /* transition duration when flip card */
  --fcc-digit-block-width: 40px; /* digit card's width */
  --fcc-digit-block-height: 64px; /* digit card's height */
  --fcc-digit-font-size: 50px; /* font size of digit */
  --fcc-digit-color: white; /* color of digit */
  --fcc-background: black; /* digit card's background */
  --fcc-label-color: #ffffff; /* time label's color */
  --fcc-label-font-size: 14px;
  --fcc-divider-color: #ffffff66; /* divider's color */
  .fcc__unit_time {
    margin-bottom: 0;
    margin-top: calc(var(--fcc-label-font-size) * 2);
  }
  .fcc__label {
    top: 0;
    bottom: unset;
    transform: translate(-50%, -150%);
  }
}

.banner-btn {
  @apply relative inline-block capitalize text-center text-white font-bold leading-none rounded-full z-10 text-xs py-3.5 px-5 bg-transparent border border-[#dd1936] cursor-pointer;
  font-family: var(--title-font);
  transition: all 0.4s ease;
}

.banner-btn:hover {
  @apply text-[#dd1936];
}

.banner-btn-bg {
  @apply absolute inset-[3px] bg-white rounded-full z-0 opacity-0 invisible;
  transform: scale(0.2);
  transition: all 0.4s ease;
}

.banner-btn:hover .banner-btn-bg {
  @apply opacity-100 visible;
  transform: scale(1);
}

.menu-btn {
  @apply relative inline-block capitalize text-center text-white font-bold leading-none rounded-full z-10 text-xs py-3.5 px-5 bg-[#dd1936] border border-white cursor-pointer;
  font-family: var(--title-font);
  transition: all 0.4s ease;
}

.menu-btn:hover {
  @apply text-[#dd1936];
}

.menu-btn-bg {
  @apply absolute inset-[3px] bg-white rounded-full z-0 opacity-0 invisible;
  transform: scale(0.2);
  transition: all 0.4s ease;
}

.menu-btn:hover .menu-btn-bg {
  @apply opacity-100 visible;
  transform: scale(1);
}
